<!DOCTYPE html>
<html>
<head>
	<title>Chatty</title>
</head>
<body>
	<div class="side">
		<ul id="chatters"></ul>
	</div>
	<div class="content">
		<div id="messages">
			<div id="indicator"></div>
		</div>
		<form id="chat_form">
			<input type="text" id="chat_input" placeholder="Message">
			<input type="submit" value="Send">
		</form>
	</div>
	<!--
	<script id="message_template" type="text/template">
		<div class="message">
			<span class="name"><%= username %></span>
			<span class="words"><%= words %></span>
			<span class="time"><%= time %></span>
		</div>
	</script>
	-->
</body>


<script type="text/javascript" src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
	var socket = io.connect(window.location.hostname);
	console.log(window.location.hostname);

	var $messages = $('#messages');

	var nickname = prompt("What is your nickname?");
	socket.emit('join', nickname);

	//emit message event on the server
	$('#chat_form').submit(function(e){
		e.preventDefault();
		var message = $('#chat_input').val();

		socket.emit('messages', message);
	});

	socket.on('messages', function(data){
		insertMessage(data);
	});

	function insertMessage(message){
		$("<p>" + message + "</p>").appendTo($messages);
	}
</script>
</html>